#sun {
    width: 200px;
    height: 200px;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
  }
  
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    transform-style: preserve-3d;
  }
  
  .layer-1 {
    background-color: #fff0b3;
    transform: rotateX(-70deg) translateZ(70px);
  }
  
  .layer-2 {
    background-color: #ffe680;
    transform: rotateX(70deg) translateZ(70px);
  }
  
  .layer-3 {
    background-color: #ffcc00;
    transform: translateZ(100px);
  }

  
  body {
    margin: 0;
    padding: 0;
    background: black;
  }
  
  #stars, #stars2, #stars3 {
    width: 1px;
    height: 1px;
    position: absolute;
    background: white;
  }
  
  #stars {
    top: 10%;
  }
  
  #stars2 {
    top: 30%;
  }
  
  #stars3 {
    top: 75%;
  }
  
  